<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>使用者導覽</title>

        <!--Customized JS and CSS-->
        <link href="/static/css/guide.css" rel="stylesheet">         

        <!--Fontawesome-->
        <link href="/static/css/fontawesome/css/all.css" rel="stylesheet">         
        
        <!----jquery----->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                
        <!--MathJX-->
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>                  
        
    </head>
    <body>
        
        <nav>
            <ul>
                <li style="padding-left: 20px;"><h1>使用導覽</h1></li>
                <li><a href="#Interface"> 介面簡介 </a></li>
                <li><a href="#Calculation"> 計算方式 </a></li>
                <hr style="border: 1px solid rgb(160, 160, 160);">
                <li style="padding-left: 30px;"><h2>功能敘述</h2></li>
                <li><a href="#Basemap"><i class="fas fa-map"></i>&nbsp; 底圖切換</a></li>
                <li><a href="#Bookmarks"><i class="fas fa-bookmark"></i>&nbsp; 建立書籤</a></li>
                <li><a href="#Layers"><i class="fas fa-layer-group"></i>&nbsp; 圖層套疊</a></li>
                <li><a href="#TemporalChanges"><i class="far fa-calendar-alt"></i>&nbsp; 時空變遷</a></li>
                <li><a href="#Information"><i class="fa fa-info-circle"></i> &nbsp; 資訊查詢</a></li>
                <li><a href="#Clear"><i class="fas fa-eraser"></i> &nbsp; 清除所有圖層</a></li>
                <li><a href="#Print"><i class="fas fa-print"></i> &nbsp; 列印地圖</a></li>            
                <li><a href="{% url 'home_tw' %}"> <<<  回到首頁</a></li>
            </ul>
            </nav>
        <div id="#Intro" class="wrapper">
            <section class="section">
                <h4>建制目的</h4>
                <p>
                    This website aims to make SDG Indices more accsessible, which involves the information of population, Land Use Efficiency(LUE), Abstract Achieved Population Density in Expansion Areas(AAPDEA) to provide comparative analysis at different levels.
                </p>
            </section>
            <hr style="border: 1px solid rgb(160, 160, 160);">
            <section id="Interface" class="section">
                <h4>介面簡介</h4>
                <p>
                    下圖為本網站的介面配置：<br>
                    (1)  地圖縮放控制    (2)  比例尺及滑鼠游標位置 <br>
                    (3)  主地圖    (4) 使用者導覽    (5)  功能表    (6)  功能視窗
                    <img style="width: 600px;" src="/static/image/basic/interface.png" alt="User Interface"><br>
                </p>
            </section>
            <hr style="border: 1px solid rgb(160, 160, 160);">

            <section id="Calculation" class="section">
                <h4>計算方法</h4>
                <ol>
                      <li>
                          單位建築開發面積居住人口數 (AAPDEA)
                          $$ AAPEDA= {Pop_{t+n}-Pop_{t} \over Urb_{t+n}-Urb_{t}} $$

                      </li>
                      <br>
                      <li>                               
                        土地利用效率(LUE) 為土地利用比率 (LCR) 與人口增長率(PGR)的比值。
                          <p>$$LCR= {ln(Urb_{t+n})-ln(Urb_{t}) \over Δt}$$</p>
                          <p>$$PGR= {ln(Pop_{t+n})-ln(Pop_{t}) \over Δt}$$</p>
                          <p>$$LUE= {LCR \over PGR}$$</p>
                      </li>
                      <br>
                      <li>
                        地表變遷：Shannon Entropy (熵)為可用來衡量土地混合使用的程度,熵值越大表示各種土地使用分佈越平均。<br>
                          <p>$$p_i = {P_{type} \over P_{all}}$$</p>
                          <p>$${H=-\sum _{i}p_{i}\log _{b}p_{i}}$$</p>
                      </li>
                </ol>
            </section>
            <hr style="border: 1px solid rgb(160, 160, 160);">
            <section id="Basemap" class="section">
                <h4>底圖切換</h4>
                <p>可依照需求切換不同底圖。</p>
                <img src="/static/image/tutorial/basemap_switcher.png"><br>
                <br>
                <table>
                    <tr>
                        <td>Open Street Map</td>
                        <td><img src="/static/image/OpenstreetMap.png"></td>
                        <td>Carto Light</td>
                        <td><img src="/static/image/LightMap.png"></td>
                    </tr>
                    <tr>
                        <td>Carto Dark</td>
                        <td><img src="/static/image/DarkMap.png"></td>
                        <td>Stamen Terrain</td>
                        <td><img src="/static/image/TerrainMap.png"></td>
                    </tr>
                </table>
            </section>
            <hr style="border: 1px solid rgb(160, 160, 160);">
            <section id="Bookmarks" class="section">
                <h4>建立書籤</h4>
                <p>可暫存當前瀏覽的地圖比例及中心位置，在移動和縮放地圖後可利用空間書籤重新回到上一步。</p>
                <ul>
                    <li>
                        <h5>建立書籤</h5>
                        <p>
                            輸入欲建立書籤名稱後點選 『<i class="fas fa-plus-square"></i> 新增』以建立一個新的書籤。
                        </p>
                        <img src="/static/image/tutorial/bookmark1.png">
                    </li>
                    <li> 
                        <h5>刪除書籤</h5>
                        <p>
                            點選書籤旁的『<i class="fas fa-backspace"></i>』圖示刪除該書籤。<br>
                            點選 『<i class="fas fa-eraser"></i> 清除所有』以清除目前新增的所有圖層。
                        </p>
                        <img src="/static/image/tutorial/bookmark2.png">
                    </li>
                    <li>
                        <h5>縮放</h5>
                        <p>
                            點選書籤旁的『<i class="fas fa-search-plus"></i>』圖示以縮方到先前儲存位置及地圖比例。
                        </p>
                    </li>
                </ul>
            </section>
            <hr style="border: 1px solid rgb(160, 160, 160);">
            <section id="Layers" class="section">
                <h4>圖層套疊</h4>
                <p>
                    使用者可勾選欲加入的圖層，如行政區域圖,土地覆蓋與土地使用地圖等。利用移動滑軌可以改變圖層的透明度。
                </p>
                <p>下圖為加入圖層後的介面範例。</p>
                <p><img src="/static/image/tutorial/layers01.png"></p>              
            </section>
            <hr style="border: 1px solid rgb(160, 160, 160);">
            <section id="TemporalChanges" class="section">
                <h4>時空變遷</h4>
                <p>使用者可藉由拉動時間軌查詢不同時期的土地覆蓋與土地使用地圖及開發區域地圖。</p>
                <ol>
                    <li>
                        <p>載入地圖。</p>
                        <p><img src="/static/image/tutorial/temporal_load.png"></p>
                    </li>
                    <li>
                        <p>拉動時間軌觀察時空變化。</p>
                        <p>
                            <img src="/static/image/tutorial/temp_1990.png">
                            <img src="/static/image/tutorial/temp_1995.png">
                        </p>
                    </li>
                </ol>
            </section>
            <hr style="border: 1px solid rgb(160, 160, 160);">
            <section id="Information" class="section">
                <h4>資訊查詢</h4>
                <p> 使用者可以點選圖徵查詢細部資訊。查詢前請先指定空間單元。</p>
                <p><img src="/static/image/tutorial/information.png"></p>
                <p> 點選以下連結查看歷年高雄市整體變遷。</p>
                <p><img src="/static/image/tutorial/change_all.png"></p>

                <h5>資訊視窗 </h5>
                <ol>
                    <li>
                        <p>人口歷年成長</p>
                        <p><img src="/static/image/tutorial/Population.png"></p>
                    </li>
                    <li>
                        <p>永續發展評估指標</p>
                        <p><img src="/static/image/tutorial/SDG_indicies.png"></p>
                    </li>
                    <li>
                        <p>土地覆蓋變遷</p>
                        <p><img src="/static/image/tutorial/entropy.png"></p>
                    </li>
                </ol>

            </section>
            <hr style="border: 1px solid rgb(160, 160, 160);">
            <section id="Clear" class="section">
                <h4>清除所有圖層</h4>
                點選此按鈕『<i class="fas fa-eraser"></i>』後將清空所有加入的圖層。
            </section>
            <hr style="border: 1px solid rgb(160, 160, 160);">
            <section id="Print" class="section">
                <h4>列印地圖</h4>
                點選此按鈕後將列印當前地圖範圍。
                <p><img src="/static/image/tutorial/printmap.png"></p>                          
            </section>


        </div>

    </body>   
    <script>
        MathJax = {
            chtml: { displayAlign: 'left' }
        };
    </script>                                                                                                                                                                                                                                                                                                     
</html>